<%- include('./includes/head.ejs') %>
<div class="header">
<%- include('./includes/nav.ejs') %>
    
  <h1 class="text_center_error">Liên kết không tồn tại. Vui lòng thử lại sau</h1> 
 
  
<%- include('./includes/end.ejs') %>
